{% extends "base.html" %}
{% block content %}
    <head>
        <title>{{title}}</title>
    </head>

<body>
{% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
        {% for blog in blogs %}
        <h2><a href="/blog?={{ blog.id }}">{{ blog.title }}</a></h2>
        <p>{{blog.body}}</p> 
        <p>written by <a href="/blog?user={{ blog.owner.username }}">{{ blog.owner.username }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;posted on {{ blog.pub_date.strftime('%b %d, %Y at %I:%M %p')}}</p>
        {% endfor %}
    {% endif %}<br>
<a href="/newpost">New Post</a>

{% endblock %}