{% extends "base.html" %}
{% block content %}
  
    <h1>Get Blogs Built!</h1>
    <form method='post'>
        <label>
            Blog Title:
            <input type="text" name='btitle' />
        </label><br>
        <label>
            Blog Entry:
            <textarea name="bentry" cols="60" rows="10"></textarea>
        </label>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if blog_words|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blog_words %}
            <li>{{blog.title}}</li>
            <li>{{blog.body}}</li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}